body{
    background-color: rgb(139, 112, 79);
    border: 7px outset gold;
    font-family: 'Playfair Display', serif;
}

#title {
    margin-left: 3rem;
    text-align: center;
  }
  
.info {
    display: inline-block;
    padding: 5px;
    text-decoration: underline;
    text-align: center;
    list-style-position:inside;
    
  }
.ortalama{
    list-style-position:inside;
    text-align: center;
    
}
  .heading {
    color: white;
    background-color: brown;
    list-style-position:inside;
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;
    
  }

  .info > span {
    color: rgb(136, 20, 20);
    font-weight: bold;
  }

h1{
    color:rgb(86, 18, 18);
    
}
h2{
    color:bisque;
    background-color:rgb(86, 18, 18);
}
.afiyet{
  font-family: 'Roboto Mono', monospace;
  text-align: right;
  font-size: 1.5rem;
  margin-right: 15rem;
  font-weight: bold;
 }